#site-navigation {
	border-bottom: 1px solid #000;
	margin-bottom: 50px;
}

.main-navigation {
	li {
		padding: 25px;
		float: none;
		display: inline-block;

		&.current-menu-item {
			color: $color-accent;
		}
	}
}