#site-navigation {
	border-bottom: 1px solid #000;
	margin-bottom: 50px;

	@include breakpoint(small) {
		margin-bottom: 0;
	}
}

.site-branding {
	@include breakpoint(small) {
		padding-top: 30px;
	}
}

.main-navigation {
	ul {
		@include breakpoint(small) {
			display: block;
		}
	}

	li {
		padding: 25px;
		float: none;
		display: inline-block;

		&.current-menu-item {
			color: $color-accent;
		}

		@include breakpoint(small) {
			display: block;
			padding: 15px;
			text-align: left;
		}
	}
}

@include breakpoint(small) {
	.popout {
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(25, 25, 25, .9);
		color: white;
		top: 0px;
		left: -100%;
		overflow:auto;
		transition: all 0.3s ease-in-out;
		padding-top: 60px;
		z-index: 9;

		&.is-open {
			left: 0;
		}
	}

	#toggle {
		position: absolute;
		top: 10px;
		right: 15px;
		width: 28px;
		height: 24px;		 
		cursor: pointer;
		z-index: 99;

		span {
			width: 28px;
		    height: 3px;
		    background-color: #333;
		    margin: 5px 0;
		    transition: 0.4s;
		    display: block;
		}

		&.is-open {
			position: fixed;
			
			span {
				background-color: #fff;

				&:first-child {
					transform: rotate(-45deg) translate(-5px, 3px);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(45deg) translate(-8px, -8px);
				}
			}
		}
	}
}