@import "../lib/slick.scss";

.img-slider {
	overflow: hidden;

	.slide,
	.slick-slide {
		width: 635px !important;
		height: 460px;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0 17px;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			background: rgba(255, 255, 255, .17);
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}

		> .content-box {
			width: 77%;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;

			> .content-box {
				padding: 40px;
			}
		}

		.content-box {
			background: rgba(255, 255, 255, .56);
			padding: 13px;
			text-align: center;

			&-inner {
				.content-tags {
					li {
						color: $color-accent;
						font-size: 14px;
					}
				}

				.content-title {
					font-size: 36px;
				}

				.content-date {
					color: $color-text;
					font-size: 14px;
				}
			}
		}
	}

	.slick-slide {
		opacity: 0.65;

		&.slick-current.slick-active {
			opacity: 1;

			.slide > .content-box {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.slick-next,
	.slick-prev {
		@include inline-svg-icon("arrow-r", white, center, 65px);
		right: 0;
		z-index: 1;
		height: 65px;
		width: 65px;

		&:before,
		&:after {
			content: "";
		}
	}

	.slick-prev {
		transform: rotate(-180deg);
		left: 0;
		right: auto;
	}
}