body.error404 {
	#page {
		@include breakpoint(small) {
			min-height: calc(100vh - 92px);
			position: relative;
			overflow: hidden;
		}
	}

	#primary {
		width: 100%;
		max-width: 100%;
		padding: 0;

		@include breakpoint(small) {
			height: calc(100% - 181px);
			display: block;

			#main {
				height: 100%;
			}
		}
	}

	.page-content {
		margin: 0;
	}

	.error-404 {
		background: url('./imgs/404.jpg') 0 0 repeat transparent;
		display: block;
		height: 714px;
		width: 100%;
		background-size: cover;
		padding-top: 135px;
		text-align: center;

		@include breakpoint(large) {
			padding-top: 85px;
			min-height: 537px;
			height: 100%;
		}

		@include breakpoint(small) {
			padding-top: 55px;
			min-height: 400px;
		}
	}

	.page-content {
		.page-title {
			font-size: 70px;
			font-weight: 200;

			@include breakpoint(large) {
				font-size: 40px;
			}

			@include breakpoint(small) {
				font-size: 35px;
			}

			strong {
				font-weight: 400;
			}
		}

		a {
			text-decoration: underline;
		}

		p {
			font-size: 28px;
			line-height: 1.7;
			max-width: 676px;
			margin: 25px auto auto;
			font-weight: 300;

			@include breakpoint(large) {
				font-size: 20px;
				max-width: 476px;
			}

			@include breakpoint(small) {
				font-size: 16px;
				margin-top: 15px;
				padding: 0 15px;
			}
		}

		.block--search {
			margin-top: 50px;
			width: 100%;
			max-width: 676px;
			margin: 50px auto auto;

			@include breakpoint(large) {
				max-width: 476px;
			}

			@include breakpoint(small) {
				width: calc(100% - 30px);
				margin-top: 30px;
			}

			form {
				width: 100%;
				position: relative;

				input {
					width: 100%;
					padding: 15px;
					background: #f7f7f7;
					border: 1px solid #9f9f9f;
					border-radius: 0;
				}

				[type="submit"] {
					background: url('./imgs/lens.png') 0 0 no-repeat transparent;
					height: 26px;
					width: 26px;
					cursor: pointer;
					position: absolute;
					font-size: 0;
					border: none;
					top: calc(50% - 13px);
					right: 13px;
				}
			}
		}
	}	
}